body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.heading-one{
    font-size: 60px;
    margin-bottom: -46px;
}
.heading-two{
    font-size: 60px;
}
.border-left{
    border-left: 5px solid #FF775A;
    border-radius: 4px;
    padding-left: 10px;
    letter-spacing: 1px;
}
.section-one{
    display: flex;
}
.Padding-top{
    padding-top: 100px;
    margin-left: 45px;
    word-spacing: 3px;
    
}
.hafe-to-hafe{
    width: 50%;
    margin-left: 10%;
}
.hafe-to-hafe img{
    width: 68%;
    margin-left: 115px;
}
.hafe-to-hafe p{
    font-size: 24px;
    color: #595959;
    margin-bottom: 45px;
    margin-top: 45px;
}
a{
    background-image: linear-gradient(#FF655A, #FF8B5A) ;
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}
span{
    color: #FF775A;
}
.hone{
    text-align: center;
    font-size: 55px;
}
.section-two{
    display: flex;
    margin-top: 6%;
    margin-left: 11%;
}
.box-model{
    background-color: #EDF5F6;
    border-radius: 40px;
    width: 20%;
    height: 20%;
    padding: 35px;
    margin-left: -2%;
}
.box-model img{
    width: 215px;
    padding-left: 18%;
}
.box-model h1{
    font-size: 30px;
}
.box-model p{
    font-size: 20px;
    padding-top: 55px;
}
.box-model-two{
    background-color: #FFEEEE;
    border-radius: 40px;
    width: 20%;
    height: 20%;
    padding: 35px;
    margin-left: 9%;
}
.box-model-two img{
    width: 215px;
    padding-left: 18%;
}
.box-model-two h1{
    font-size: 30px;
}
.box-model-two p{
    font-size: 20px;
    padding-top: 55px;
}
.box-model-three{
    background-color: #FFF4D6;
    border-radius: 40px;
    width: 20%;
    height: 20%;
    padding: 35px;
    margin-left: 9%;
}
.box-model-three img{
    width: 215px;
    padding-left: 18%;
}
.box-model-three h1{
    font-size: 30px;
}
.box-model-three p{
    font-size: 20px;
    padding-top: 55px;
}
.Section-three{
    display: flex;
    
    
}
.hafe-to-hafe-two{
    width: 50%;
}
.hafe-to-hafe-two img{
    width: 55%;
    margin-left: 12%;
}
.heding{
    font-size: 48px;
}
.pragraf{
    font-size: 24px;
    margin-bottom: 55px;
}
.div-top{
    margin-top: 85px;
    width: 710px;
    margin-left: 95px;
}
.Section-fourth{
    display: flex;
}
.hafe-to-hafe-three{
    width: 50%;
    margin-left: 2%;
}
.hafe-to-hafe-three img{
    width: 65%;
    margin-left: 25%;
    border-radius: 30px;
}
.pragraf-two {
    font-size: 24px;
    margin-bottom: 55px;
    width: 75%;
}
footer{
    background-color: black;
    margin-top: 8%;
}
#hedig-id{
    color: white;
    font-size: 40px;
}
#peragraf-id{
    color: white;
    font-size: 24px;
}
.center{
    text-align: center;
}
